.footer {
  align-self: end;
  padding: 3rem;
}
.buttonsBox {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 587px) {
  .footer {
    background: var(--white);
  }
}
