.footer {
  padding: 3rem;
  width: 90%;
  margin-inline: auto;
}
.buttonsBox {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 587px) {
  .footer {
    background: var(--white);
    width: 100%;
  }
}
