.rightContainer {
  padding: 4rem;
  max-width: 85%;
  margin-inline: auto;
}

@media screen and (max-width: 587px) {
  .rightContainer {
    max-width: 80%;
    margin-inline: auto;
    background-color: var(--white);
    position: relative;
    z-index: 100;
    transform: translateY(-8rem);
    padding: 3.2rem 2.4rem;
  }
}
