.navWrapper {
  background: url('../assets/images/bg-sidebar-desktop.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  border-radius: 10px;
  flex-basis: 33%;
  padding: 4rem 3.2rem;
  color: var(--white);
}
.navList {
  list-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--fs-14);
}
.navList > * + * {
  margin-top: 3.1rem;
}
.navItem {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navStepNumber {
  padding: 0.5rem 0.9rem;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  display: grid;
  place-content: center;
}
.navStepNumber.active {
  background-color: var(--blue-200);
  color: var(--blue-900);
  border: none;
}
.navStepDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.navStepDetails p {
  color: var(--blue-300);
  font-size: var(--fs-12);
}
@media screen and (max-width: 690px) {
  .navWrapper {
    flex-basis: 40%;
  }
}
@media screen and (max-width: 587px) {
  .navWrapper {
    background: url('../assets/images/bg-sidebar-mobile.svg');
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0;
    min-width: 375px;
  }
  .navList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }
  .navList > * + * {
    margin: 0;
  }
  .navStepDetails {
    display: none;
  }
}
